{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'vulnerabilidad/js/list.js' %}"></script>
{% endblock %}


{% block columns %}
    <tr>
        <th scope="col" style="width: 30%;">Id</th>
        <th scope="col" style="width: 30%;">Archivo</th>
        <th scope="col" style="width: 30%;">Activo</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}
{% block rows %}

{% endblock %}
{% block botones %}

{% endblock %}
{% block javascript %}

{% endblock %}
