{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <script src={% static 'lib/highcharts-8.1.2/highcharts.js' %}></script>
    <script src={% static 'lib/../static/lib/highcharts-8.1.2/modules/exporting.js' %}></script>
    <script src={% static 'lib/highcharts-8.1.2/modules/export-data.js' %}></script>
    <script src={% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
            <div id="containerActivo">

            </div>
        </div>
        <div class="col-lg-6">
            <div id="container">

            </div>
        </div>
        <div class="col-lg-12">
            <div id="container2">

            </div>
        </div>
    </div>
    <script>
        var pieColors = (function () {
            var colors = [],
            base = Highcharts.getOptions().colors[0],
            i;

            for (i = 0; i < 10; i += 1) {
                // Start out with a darkened base color (negative brighten), and end
                // up with a much brighter color
                colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
            }
            return colors;
        }());

        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Vulnerabilidades según su impacto'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Impacto',
                colorByPoint: true,
                data: [{
                    name: 'Alto',
                    y: {{ grafico_por_impacto }}[0],
                    sliced: true,
                    selected: true
                }, {
                    name: 'Medio',
                    y: {{ grafico_por_impacto }}[1]
                },  {
                    name: 'Bajo',
                    y: {{ grafico_por_impacto }}[2]
                }]
            }]
        });

        Highcharts.chart('containerActivo', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Activos según su tipo'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    colors: pieColors,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Tipo de activo',
                colorByPoint: true,
                data: [{
                    name: 'Datos',
                    y: {{ grafico_por_tipo_activo }}[0],
                    sliced: true,
                    selected: true
                }, {
                    name: 'Equipos de Red',
                    y: {{ grafico_por_tipo_activo }}[1]
                },  {
                    name: 'Hardware',
                    y: {{ grafico_por_tipo_activo }}[2]
                },  {
                    name: 'No Determinado',
                    y: {{ grafico_por_tipo_activo }}[3]
                },  {
                    name: 'Nube',
                    y: {{ grafico_por_tipo_activo }}[4]
                },  {
                    name: 'Ordenadores',
                    y: {{ grafico_por_tipo_activo }}[5]
                },  {
                    name: 'Plugins',
                    y: {{ grafico_por_tipo_activo }}[6]
                },  {
                    name: 'Protocolos',
                    y: {{ grafico_por_tipo_activo }}[7]
                },  {
                    name: 'Puertos',
                    y: {{ grafico_por_tipo_activo }}[8]
                },  {
                    name: 'Redes',
                    y: {{ grafico_por_tipo_activo }}[9]
                },  {
                    name: 'Software',
                    y: {{ grafico_por_tipo_activo }}[10]
                },]
            }]
        });

        Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Vulnerabilidades según su tipo'
    },
    subtitle: {
        text: 'Tipología de activos'
    },
    xAxis: {
      type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Número de vulnerabilidades'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Número de vulnerabilidades: <b>{point.y:.1f} </b>'
    },
    series: [{
        name: 'Vulnerabilidad',
        data: [
            ['Datos', {{ grafico_por_tipo }}[0]],
            ['Equipos de Red', {{ grafico_por_tipo }}[1]],
            ['Hardware', {{ grafico_por_tipo }}[2]],
            ['No Determinado', {{ grafico_por_tipo }}[3]],
            ['Nube', {{ grafico_por_tipo }}[4]],
            ['Ordenadores', {{ grafico_por_tipo }}[5]],
            ['Plugin', {{ grafico_por_tipo }}[6]],
            ['Protocolo', {{ grafico_por_tipo }}[7]],
            ['Puerto', {{ grafico_por_tipo }}[8]],
            ['Red', {{ grafico_por_tipo }}[9]],
            ['Software', {{ grafico_por_tipo }}[10]],
        ],
        dataLabels: {
            enabled: true,
            rotation: 0,
            color: '#FFFFFF',
            align: 'center',
            format: '{point.y:.1f}', // one decimal
            y: 30, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
    </script>
{% endblock %}